body {
	background: var(--main-background-image);
	margin: 0;
}

#page {
	display: grid;
	gap: 1rem;
	grid-template-areas:
		"nav nav themeswitch"
		"logo logo logo"
		"search search search"
		"main main main"
		"foot foot foot";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60px 150px 60px 1fr 1fr;
}
.logo {
	grid-area: logo;
}
#page > .hamburger-menu,
.mobile-menu {
	grid-area: nav;
	justify-content: center;
	padding-left: 1em;
}
#page > header {
	display: none;
}
#page > .themeswitch {
	grid-area: themeswitch;
	justify-content: end;
	width: max-content;
	height: max-content;
}
#page > .search {
	grid-area: search;
	background-color: var(--search-background-color);
}
.themeswitch:focus-visible {
	border: 1px solid var(--background);
	box-shadow: 0 0 0 1px var(--foreground);
}
.header,
.desktop-menu {
	display: hidden;
}
#page > main {
	grid-area: main;
}
#page > footer {
	grid-area: foot;
	background-color: var(--footer-background-color);
	/* margin-bottom: 0; */

}
.footer-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	padding: 1em;
}

.form-newsletter-footer,
.some-content {
	max-width: 300px;
}
.logo {
	background-image: var(--image-logo);
	background-repeat: no-repeat;
	background-size: contain;
}