#page {
	display: grid;
	gap: 1rem;
	grid-template-areas:
		"nav nav themeswitch"
		"search search search"
		"logo logo logo"
		"main main main"
		"foot foot foot";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 60px 1fr 1fr 1fr 1fr;
	background: var(--main-background-image);
}
.logo {
	margin: auto;
}
#page > .hamburger-menu,
.mobile-menu {
	grid-area: nav;
	justify-content: center;
	padding-left: 1em;
}
#page > header {
	display: none;
}
#page > .themeswitch {
	grid-area: themeswitch;
	justify-content: end;
	width: max-content;
	height: max-content;
}
#page > .search {
	grid-area: search;
}
.themeswitch:focus-visible {
	border: 1px solid var(--background);
	box-shadow: 0 0 0 1px var(--foreground);
}
.header,
.desktop-menu {
	display: hidden;
}
#page > footer {
	grid-area: foot;
}
.footer-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
