@import "_about.css";
@import "_blogpage.css";
@import "_blogspecific.css";
@import "_contact.css";
@import "_themeswitcher.css";
@import "_homepage.css";
@import "_typograpy.css";
@import "_desktopmenu.css";
@import "_hamburgermenu.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}
/* :root {
	/* --main-background-image: url("/images/paper-texture.jpg"); */
/* --main-background-image: url("/images/jack-b-bOfCH9TnRg4-unsplash.jpg"); */
/* --image-logo: url("/images/a-bugs-tale-light.png");
}*/
:root {
	--hover-shadow-color: 0.5px 0.5px 0.5px #3d3b3b;
	--hover-shadow-color-hamburger: 0.5px 0.5px 0.5px #f5f1f1;
	/* ----- MOBILE MENU / HAMBURGER ----- */
	--bar-width: 24px;
	--bar-height: 3px;
	--hamburger-gap: 3px;
	--hamburger-margin: 6px;
	--foreground: #3d3b3b;
	--background: white;
	--nav-link-color: white;
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
	margin: 0;
	background-color: #80B99350;
}

footer {
	display: flex;
}

.form-newsletter-footer,
.some-content {
	max-width: 30vw;
	margin: auto;
}

.some-links {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-shadow: var(--hover-shadow-color);
}
@media (max-width: 28rem) {
	#page {
		display: grid;
		gap: 1rem;
		grid-template-areas:
			"head head themeswitch"
			"nav nav nav"
			"search search search"
			"logo logo logo"
			"main main main"
			"foot foot foot";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 30px auto;
		background: var(--main-background-image);
	}
	.logo {
		max-width: 60vw;
		z-index: -1;
		margin: auto;
	}
}
