@import "_layout.css";
@import "_about.css";
@import "_blogpage.css";
@import "_blogspecific.css";
@import "_contact.css";
@import "_themeswitcher.css";
@import "_homepage.css";
@import "_typograpy.css";
@import "_navigation.css";
@import "_mediaqueries.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}
/* :root {
	/* --main-background-image: url("/images/paper-texture.jpg"); */
/* --main-background-image: url("/images/jack-b-bOfCH9TnRg4-unsplash.jpg"); */
/* --image-logo: url("/images/a-bugs-tale-light.png");
}*/

:root[data-theme="light"] {
	--main-background-image: url("/images/paper-texture.jpg");
	--image-logo: url("/images/logo-light.png");

	--header-background-color: #669c85;
	--search-background-color: #7dba7f;
	--footer-background-color: #669c8590;

	--border-radius-header: 0 100px 100px 0;
	--border-radius-search: 100px 0 0 100px;

	--primary-color: #;
	--secondary-color: #;
	--accent-color: #;
	--form-fill-color: #;
	--sucess-color: #;
	--error-color: #;

	--background-body: #;
	--button-background: #;
	--border-color: #;
	--copy-color: #;

	--hamburger-background: #;
	--hamburger-link-color: #;

	--desk-nav-background: #;
	--desk-nav-link-color: #;

	--switch-bg: #f5f5f6;
	--switch-circle-bg: #ffd371;
	--switch-circle-pos: 0.4rem;
	--icon-sun: #997f44;
	--icon-moon: #b1b0b5;
}

:root[data-theme="dark"] {
	--main-background-image: url("/images/paper-texture.jpg");
	--image-logo: url("/images/logo-dark.png");
	--primary-color: #;
	--secondary-color: #;
	--accent-color: #;
	--form-fill-color: #;
	--sucess-color: #;
	--error-color: #;

	--background-body: #;
	--button-background: #;
	--border-color: #;
	--copy-color: #;

	--hamburger-background: #;
	--hamburger-link-color: #;

	--desk-nav-background: #;
	--desk-nav-link-color: #;

	--switch-bg: #2d2c35;
	--switch-circle-bg: #7190ff;
	--switch-circle-pos: 3.2rem;
	--icon-sun: var(--muted-copy-color);
	--icon-moon: #dce3ff;
}
:root {
	--hover-shadow-color: 0.5px 0.5px 0.5px #3d3b3b;
	--hover-shadow-color-hamburger: 0.5px 0.5px 0.5px #f5f1f1;
	/* ----- MOBILE MENU / HAMBURGER ----- */
	--bar-width: 24px;
	--bar-height: 3px;
	--hamburger-gap: 3px;
	--hamburger-margin: 10px;
	--foreground: #3d3b3b;
	--background: white;
	--nav-link-color: white;
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
body {
	margin: 0;
	background: var(--main-background-image);
	/* background-color: #80b99350; */
}

/* .form-newsletter-footer,
.some-content {
	max-width: 30vw;
	margin: auto;
}

.some-links {
	display: flex;
	flex-direction: row;
	gap: 1rem;
} */
